DOCKERCOMPOSE_UID=1001
DOCKERCOMPOSE_GID=1001
CUDA_DEVICE_ORDER=FASTEST_FIRST
CUDA_VISIBLE_DEVICES=0
GOMLX_BACKEND=xla:cuda
SQUARL_DATA_DIR=/workspace/data
WEB_URL=http://web:8080
WEB_HOST_PORT=8081
TENSORBOARD_HOST_PORT=6006
